@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Inter:regular);
html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #323642;
  line-height: 1.6;
  background-color: #fff;
}

section {
  position: relative;
  overflow: visible;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: #889099;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

.main-content {
  overflow: hidden;
}

.button {
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 0 20px;
  border: 1px solid #4CB649;
  border-radius: 30px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4CB649;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#4CB649), to(#5DDF5A));
  background: -o-linear-gradient(bottom, #4CB649 0%, #5DDF5A 100%);
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  color: #fff;
  border: 1px solid transparent;
}

.main-header {
  width: 100%;
  height: auto;
}

.alert-block {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767.98px) {
  .alert-block {
    height: 68px;
  }
}
.alert-block__line {
  position: relative;
  width: 14px;
  height: 2px;
  background-color: #889099;
}
.alert-block__line_first {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.alert-block__line_second {
  -webkit-transform: translateY(-2px) rotate(-45deg);
      -ms-transform: translateY(-2px) rotate(-45deg);
          transform: translateY(-2px) rotate(-45deg);
}
.alert-block__close-button {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 21px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .alert-block__close-button {
    top: 33%;
    right: 8px;
  }
}

.alert-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alert-wrap__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .alert-wrap__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .alert-wrap__block:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 767.98px) {
  .alert-wrap__block:first-child {
    margin-right: 15px;
  }
}
.alert-wrap__text {
  color: #889099;
  margin-right: 32px;
  font-size: 12px;
  line-height: 1.3;
}
@media (max-width: 767.98px) {
  .alert-wrap__text {
    margin-right: 0;
  }
}
.alert-wrap__text_message {
  color: #FF8D00;
  font-weight: 700;
  position: relative;
}
@media (max-width: 767.98px) {
  .alert-wrap__text_message {
    margin-bottom: 9px;
  }
}
.alert-wrap__text_message::before {
  content: url("../img/header/alert.svg");
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -28px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.alert-wrap__link {
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
  position: relative;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .alert-wrap__link {
    margin-bottom: 9px;
  }
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 120px;
  position: relative;
}
@media (max-width: 767.98px) {
  .header-block {
    height: 140px;
  }
}

.logo-block {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-block__burger-menu {
  left: -10px;
  margin-right: 14px;
}
@media (max-width: 767.98px) {
  .logo-block__burger-menu {
    left: -2px;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    height: 16px;
    position: relative;
  }
}
.burger-menu__line {
  height: 2px;
  width: 100%;
  background-color: #22252E;
  border-radius: 3px;
  margin-bottom: 5px;
}
.burger-menu__line:last-child {
  margin-bottom: 0;
}

.logo {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  display: inline-block;
}

.menu {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991.98px) {
  .menu {
    display: none;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-list__item {
  margin-right: 30px;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.menu-list__item:nth-child(2) .menu-list__link {
  padding-right: 0;
}
.menu-list__item:nth-child(2) .menu-list__link::after {
  display: none;
}
.menu-list__link {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  padding-right: 16px;
  position: relative;
}
.menu-list__link::after {
  content: url("../img/header/down-arrow.svg");
  position: absolute;
  top: -4px;
  right: -4px;
}
.menu-list__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #4CB649;
  bottom: -6px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-list__link:hover::before {
  width: 100%;
}

.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: -35px;
}
@media (max-width: 1399.98px) {
  .button-block {
    right: -22px;
  }
}
@media (max-width: 1199.98px) {
  .button-block {
    right: -12px;
  }
}
@media (max-width: 767.98px) {
  .button-block {
    right: -5px;
  }
}
.button-block__button_log-in {
  margin-right: 10px;
}
@media (max-width: 991.98px) {
  .button-block__button_log-in {
    display: none;
  }
}

.article-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.picture-wrap {
  width: 50%;
}
.picture-wrap__image {
  height: 100%;
  width: 100%;
}

.text-wrap {
  width: 50%;
  padding: 60px 60px 40px;
  border: 1px solid #D7D8D9;
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (max-width: 1199.98px) {
  .text-wrap {
    padding: 40px 25px 20px 35px;
  }
}
.text-wrap__headline {
  margin-bottom: 84px;
  font-weight: 300;
  line-height: 1.4;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .text-wrap__headline {
    margin-bottom: 48px;
  }
}
.text-wrap__signature {
  margin-bottom: 12px;
}
.text-wrap__date {
  color: #889099;
}
.text-wrap__link-box {
  color: #4CB649;
}
@media (max-width: 767.98px) {
  .text-wrap__link-box {
    margin-bottom: 5px;
  }
}
.text-wrap__link {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4CB649;
}
.text-wrap__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
.text-wrap__comment-icon {
  margin-right: 9px;
}
.text-wrap__comment-number {
  color: #889099;
}

.tag-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #F7F7F7;
  height: 60px;
  padding: 0 32px;
}
@media (max-width: 1199.98px) {
  .tag-block {
    padding: 0 25px;
  }
}
@media (max-width: 991.98px) {
  .tag-block {
    display: none;
  }
}

.tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tag-box_link {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4CB649;
}
.tag-box__headline {
  margin-right: 43px;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  .tag-box__headline {
    margin-right: 33px;
  }
}
.tag-box__headline:last-child {
  margin-right: 0;
}
.tag-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tag-box__list-item {
  margin-right: 35px;
}
@media (max-width: 1199.98px) {
  .tag-box__list-item {
    margin-right: 25px;
  }
}
.tag-box__list-item:last-child {
  margin-right: 0;
}

.home-section {
  padding-top: 40px;
}
@media (max-width: 767.98px) {
  .home-section {
    padding-top: 46px;
  }
}
.home-section__article-block {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
}
@media (max-width: 991.98px) {
  .home-section__article-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .home-section__article-block .picture-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991.98px) {
  .home-section__article-block .text-wrap {
    width: 100%;
    border-top-right-radius: 0;
    border-left: 1px solid #D7D8D9;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top: none;
    padding: 30px 30px 14px;
  }
}
@media (max-width: 991.98px) {
  .home-section__article-block .text-wrap__headline {
    margin-bottom: 14px;
  }
}

.article-section {
  padding: 40px 0 110px;
}
@media (max-width: 991.98px) {
  .article-section {
    padding: 40px 0 70px;
  }
}
@media (max-width: 767.98px) {
  .article-section {
    padding: 10px 0 70px;
  }
}
.article-section::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 206px);
  background-color: #EBECED;
  top: 40px;
  left: calc(50% + 240px);
}
@media (max-width: 1399.98px) {
  .article-section::before {
    left: calc(50% + 210px);
  }
}
@media (max-width: 1199.98px) {
  .article-section::before {
    left: calc(50% + 185px);
  }
}
@media (max-width: 991.98px) {
  .article-section::before {
    display: none;
  }
}
.article-section__headline-block {
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .article-section__headline-block {
    margin-bottom: 35px;
  }
}
@media (max-width: 767.98px) {
  .article-section__headline-block {
    margin-bottom: 40px;
  }
}
.article-section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .article-section__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.article-section__wrap-left {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .article-section__wrap-left {
    width: 100%;
    margin-bottom: 60px;
  }
}
.article-section__wrap-right {
  width: 26%;
}
@media (max-width: 991.98px) {
  .article-section__wrap-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.article-section__article-block {
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 61px;
}
@media (max-width: 767.98px) {
  .article-section__article-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.article-section__article-block::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 31px;
  left: 0;
  height: 1px;
  width: 87%;
  background-color: #EBECED;
}
@media (max-width: 767.98px) {
  .article-section__article-block::before {
    width: 100%;
  }
}
.article-section__article-block:nth-child(2) .text-wrap, .article-section__article-block:nth-child(5) .text-wrap {
  padding-left: 20px;
}
@media (max-width: 767.98px) {
  .article-section__article-block:nth-child(2) .text-wrap, .article-section__article-block:nth-child(5) .text-wrap {
    padding-left: 0;
  }
}
.article-section__article-block:last-child {
  padding-bottom: 30px;
}
@media (max-width: 767.98px) {
  .article-section__article-block:nth-child(4), .article-section__article-block:nth-child(5), .article-section__article-block:nth-child(6) {
    display: none;
  }
}
.article-section__article-block .picture-wrap {
  max-width: 280px;
  max-height: 180px;
}
@media (max-width: 1199.98px) {
  .article-section__article-block .picture-wrap {
    max-width: 220px;
  }
}
@media (max-width: 767.98px) {
  .article-section__article-block .picture-wrap {
    max-width: unset;
    width: 100%;
    max-height: unset;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.article-section__article-block .text-wrap {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
  border-radius: 0;
  padding: 0 58px 0 40px;
}
@media (max-width: 1199.98px) {
  .article-section__article-block .text-wrap {
    padding: 0 25px 0 30px;
  }
}
@media (max-width: 767.98px) {
  .article-section__article-block .text-wrap {
    width: 100%;
    padding: 20px 20px 30px 0;
  }
}
.article-section__article-block .text-wrap__headline {
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.4;
  color: #22252E;
}
.article-section__article-block .text-wrap__signature {
  margin-bottom: 8px;
}
.article-section__article-block .text-wrap__link-box {
  margin-bottom: 10px;
}
.article-section__button {
  min-width: 260px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 575.98px) {
  .article-section__button {
    min-width: 90%;
  }
}
.article-section__article-container {
  margin-bottom: 32px;
}
.article-section__commercial-block {
  margin-bottom: 51px;
}
@media (max-width: 991.98px) {
  .article-section__commercial-block {
    width: 48%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 575.98px) {
  .article-section__commercial-block {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767.98px) {
  .headline-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.headline-block__headline {
  font-weight: 300;
  line-height: 1.4;
  color: #22252E;
}
.headline-block__input {
  background-color: #FFFFFF;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  height: 60px;
  padding: 0 30px 0 58px;
  min-width: 340px;
  outline: none;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/article-section/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
}
@media (max-width: 1399.98px) {
  .headline-block__input {
    min-width: auto;
  }
}
@media (max-width: 1199.98px) {
  .headline-block__input {
    width: 26%;
  }
}
@media (max-width: 991.98px) {
  .headline-block__input {
    width: auto;
  }
}
@media (max-width: 767.98px) {
  .headline-block__input {
    width: 100%;
    margin-bottom: 40px;
  }
}
.headline-block__input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252E;
  line-height: 1.6;
}
.headline-block__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252E;
  line-height: 1.6;
}
.headline-block__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252E;
  line-height: 1.6;
}
.headline-block__input::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252E;
  line-height: 1.6;
}
.headline-block__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252E;
  line-height: 1.6;
}

@media (max-width: 991.98px) {
  .article-container {
    width: 48%;
  }
}
@media (max-width: 575.98px) {
  .article-container {
    width: 100%;
  }
}
.article-container__headline-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.article-container__image {
  margin-right: 20px;
}
@media (max-width: 1199.98px) {
  .article-container__image {
    margin-right: 6px;
  }
}
.article-container__headline {
  font-weight: 300;
  line-height: 1.4;
  color: #22252E;
}

.articles-list {
  padding-left: 10px;
  padding-bottom: 30px;
  position: relative;
}
.articles-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #EBECED;
}
.articles-list__item {
  margin-bottom: 16px;
  position: relative;
}
.articles-list__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: -10px;
  top: 9px;
  background-color: #4CB649;
}
.articles-list__item:last-child {
  margin-bottom: 0;
}
.articles-list__link {
  color: #323642;
}

.commercial-block__image {
  width: 100%;
  height: 100%;
}

.tag-cloud {
  max-width: 300px;
}
@media (max-width: 991.98px) {
  .tag-cloud {
    width: 48%;
  }
}
@media (max-width: 575.98px) {
  .tag-cloud {
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.tag-cloud__headline {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 15px;
}
.tag-cloud__link {
  font-size: 16px;
}

.two-smaller-font {
  font-size: 12px;
  font-weight: 300;
}

.one-smaller-font {
  font-size: 14px;
}

.one-bigger-font {
  font-size: 18px;
  font-weight: 700;
}

.two-bigger-font {
  font-size: 20px;
  color: #000;
}

.three-bigger-font {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.seven-bigger-font {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.price-section {
  background: -o-linear-gradient(315deg, #3D4251 0%, #272B35 100%);
  background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
  padding: 100px 0 53px;
}
@media (max-width: 1199.98px) {
  .price-section {
    padding: 80px 0 53px;
  }
}
.price-section__headline {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.5px;
  color: #fff;
  margin-bottom: 60px;
}
@media (max-width: 1199.98px) {
  .price-section__headline {
    font-size: 44px;
  }
}
.price-section__price-block {
  margin-bottom: 51px;
}
@media (max-width: 1199.98px) {
  .price-section__price-block {
    margin-bottom: 32px;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .price-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offer-card {
  min-width: 380px;
  background: #FFFFFF;
  border: 4px solid transparent;
  border-radius: 6px;
  padding: 48px 0 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.501961);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.501961);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1399.98px) {
  .offer-card {
    min-width: 340px;
  }
}
@media (max-width: 1199.98px) {
  .offer-card {
    min-width: 300px;
    padding: 40px 0 30px;
  }
}
@media (max-width: 991.98px) {
  .offer-card {
    min-width: 315px;
    padding: 40px 0;
  }
}
.offer-card:hover {
  border: 4px solid #4CB649;
  -webkit-transform: scaleY(1.1);
      -ms-transform: scaleY(1.1);
          transform: scaleY(1.1);
}
.offer-card:nth-child(2) {
  margin: 0 20px;
}
@media (max-width: 991.98px) {
  .offer-card:nth-child(2) {
    margin: 20px 0;
  }
}
.offer-card__headline {
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  margin-bottom: 30px;
}
.offer-card__headline::before {
  content: "";
  position: absolute;
  background-color: #4CB649;
  height: 2px;
  width: 24px;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.offer-card__price {
  font-weight: 300;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: -1.5px;
  color: #22252E;
  margin-bottom: 17px;
  padding-bottom: 18px;
  position: relative;
}
.offer-card__price::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -6px;
  width: 110%;
  height: 1px;
  background-color: #EBECED;
}
@media (max-width: 1199.98px) {
  .offer-card__price::before {
    left: -11px;
  }
}
.offer-card__price-symbol {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: normal;
  margin-right: 8px;
}
.offer-card__price-month {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: normal;
  margin-left: 3px;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  display: inline-block;
}
.offer-card__info-block {
  min-height: 44px;
  margin-bottom: 19px;
}
.offer-card:first-child .offer-card__price-info {
  line-height: 44px;
}
.offer-card__old-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F24458;
  margin-right: 11px;
}
.offer-card__save-info {
  font-weight: 700;
}
.offer-card__button {
  min-width: 205px;
}

.payment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto 8px;
}
@media (max-width: 1399.98px) {
  .payment-block {
    width: 80%;
  }
}
@media (max-width: 1199.98px) {
  .payment-block {
    width: 85%;
  }
}
@media (max-width: 991.98px) {
  .payment-block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 40px;
  }
}
.payment-block__info {
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 30px;
}
@media (max-width: 1199.98px) {
  .payment-block__info {
    margin-right: 12px;
  }
}
@media (max-width: 991.98px) {
  .payment-block__info {
    margin-right: 0;
    margin-bottom: 21px;
  }
}

.payment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .payment-box {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767.98px) {
  .payment-box {
    width: 65%;
  }
}
@media (max-width: 575.98px) {
  .payment-box {
    width: 90%;
  }
}
.payment-box__safe-block:nth-child(3) {
  margin-right: -15px;
}
@media (max-width: 991.98px) {
  .payment-box__safe-block:nth-child(3) {
    margin-right: 0;
  }
}
.payment-box__safe-block:nth-child(5) {
  margin-left: -15px;
}
@media (max-width: 991.98px) {
  .payment-box__safe-block:nth-child(5) {
    margin-left: 0;
  }
}
@media (max-width: 991.98px) {
  .payment-box__safe-block {
    width: 100px;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
}
@media (max-width: 991.98px) {
  .payment-box__safe-block:last-child {
    margin-bottom: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.additional-info {
  text-align: center;
}
@media (max-width: 575.98px) {
  .additional-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.additional-info__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4CB649;
  padding-right: 36px;
  position: relative;
}
.additional-info__link:first-child {
  margin-right: 40px;
}
@media (max-width: 575.98px) {
  .additional-info__link:first-child {
    margin-right: 0;
    margin-bottom: 34px;
  }
}
.additional-info__link::after {
  content: url("../img/price-section/right-arrow.svg");
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-footer {
  padding: 84px 0 90px;
}
@media (max-width: 1199.98px) {
  .main-footer {
    padding: 65px 0 70px;
  }
}
@media (max-width: 575.98px) {
  .main-footer {
    padding: 44px 0 49px;
  }
}
.main-footer__logo {
  margin-bottom: 58px;
  font-size: 27px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 991.98px) {
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 991.98px) {
  .footer-block {
    margin-bottom: 35px;
  }
}
@media (max-width: 991.98px) {
  .footer-block:first-child {
    width: 35%;
  }
}
@media (max-width: 575.98px) {
  .footer-block:first-child {
    width: 50%;
  }
}
.footer-block:last-child .footer-block__headline {
  font-weight: 700;
  margin-bottom: 25px;
}
.footer-block__headline {
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-block__list-item {
  margin-bottom: 22px;
}
.footer-block__list-item:last-child {
  margin-bottom: 0;
}
.footer-block__text {
  color: #889099;
  margin-bottom: 12px;
  font-size: 12px;
}
.footer-block__text:nth-child(2) {
  font-size: 14px;
}
.footer-block__text:last-child {
  margin-bottom: 0;
}

.social-media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575.98px) {
  .social-media-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.social-media-block__safe-block {
  margin-right: 32px;
}
@media (max-width: 575.98px) {
  .social-media-block__safe-block {
    width: 42px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1px;
    margin-bottom: 25px;
  }
}
.social-media-block__safe-block:last-child {
  margin-right: 0;
}

@media (max-width: 991.98px) {
  .footer-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 65%;
  }
}
@media (max-width: 575.98px) {
  .footer-menu-wrap {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer-menu-wrap .footer-block:first-child {
  margin-bottom: 58px;
}
@media (max-width: 991.98px) {
  .footer-menu-wrap .footer-block:first-child {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .footer-menu-wrap .footer-block:first-child {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .footer-menu-wrap .footer-block:nth-child(2) {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .footer-menu-wrap .footer-block:nth-child(2) {
    width: 100%;
  }
}

.footer-info-wrap {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .footer-info-wrap {
    width: 100%;
  }
}
.footer-info-wrap .footer-block:first-child {
  width: 30%;
}
@media (max-width: 991.98px) {
  .footer-info-wrap .footer-block:first-child {
    width: 40%;
  }
}
@media (max-width: 575.98px) {
  .footer-info-wrap .footer-block:first-child {
    width: 50%;
  }
}
.footer-info-wrap .footer-block:nth-child(2) {
  width: 70%;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .footer-info-wrap .footer-block:nth-child(2) {
    width: 60%;
  }
}
@media (max-width: 575.98px) {
  .footer-info-wrap .footer-block:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
  }
}
.footer-info-wrap .footer-block:nth-child(3) {
  width: 100%;
  padding-left: 30%;
}
@media (max-width: 991.98px) {
  .footer-info-wrap .footer-block:nth-child(3) {
    padding-left: 40%;
  }
}
@media (max-width: 767.98px) {
  .footer-info-wrap .footer-block:nth-child(3) {
    padding-left: 0;
  }
}
@media (max-width: 575.98px) {
  .footer-info-wrap .footer-block:nth-child(3) {
    width: 50%;
  }
}